html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16 px we want the size to be 10px so we do 62.5%  */
}

.gallery-title {
  text-align: center;
  font-size: 6rem;
  padding: 1rem;
  margin-bottom: 3rem;
  background-color: #f57c00;
}

.gallery {
  height: 100vh;
}
img.gallery-pics {
  height: 90%;
  width: 100%;
  background-position: center;
}

.row {
  font-size: 5rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  position: relative;
}

.child {
  width: 25%;
  height: 60%;
}
.child-1 {
  border: 3px solid green;
}
.child-2 {
  border: 3px solid yellow;
}
.child-3 {
  border: 3px solid blue;
}
